<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">
            {{topic.title}}
          </h2>
          <h4 ng-show="show.status === 'Continuing'">
            <span class="ion-calendar"></span>
          </h4>
          <h4 ng-show="show.status === 'Ended'">
            Status: <span class="text-danger">Ended</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>