<tc-nav-bar search="search" query="query"></tc-nav-bar>
<div class="container-fluidr floating_panel">
    <div class="custom-search-input hidden-xs">
         <div class="input-group col-md-12">
             <input type="text" class="form-control" ng-model="query" ng-change="search(query)" placeholder="Search..." />
             <span class="input-group-btn">
                 <button class="btn btn-info btn-lg" type="button">
                     <i class="fa fa-search"></i>
                 </button>
             </span>
         </div>
    </div>
    <div class="widget-panel" masonry='{  "transitionDuration" : "0.4s"  , "itemSelector" : ".tile", "columnWidth": ".tile", "isFitWidth": true, "gutter": 20}'>
        <div masonry-tile ng-repeat="topic in topics track by topic._id" tc-movie-widget topic="topic" class="tile">
        </div>
    </div>
</div>
