<div class="jumbotron">
    <div class="container">
        <ul class="genres">
            <li ng-repeat="category in categories">
                <span ng-click="filterByCategory(category)">{{category}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{headingTitle}}
            <div class="pull-right">
                <input class="search" type="text" ng-model="nameFilter" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body">
            <div class="row show-list">
                <div class="fade-repeat col-xs-4 col-md-3" ng-repeat="topic in topics | filter:categoryFilter">
                    <div class="text-center">
                        <a href="/topics/{{topic.slug}}">{{topic.title}}</a>
                        <p class="text-muted">Category: {{topic.category}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>