<div>
    <div class="thumbnail text-center widget">
        <a ui-sref="movies({slug: slug})">
            <h4 ng-bind-html="title"></h3>
            <div class="img-card">
                <img src="{{image}}"  alt="{{slug}}"/>
            </div>
            <div class="ribbon">
              <strong class="ribbon-content">
                <h1>{{twocentz}}</h1>
              </strong>
            </div>
            <div style="margin-top:35px">
              <p ng-bind-html="release"></p>
            </div>
        </a>
    </div>
</div>
