<tc-nav-bar page="movies"></tc-nav-bar>
<div class="container-fluid floating_panel">
  <div ng-if="error">
    <div class="alert alert-danger col-md-12" role="alert">{{errorMessage}}</div>
  </div>
  <div ng-if="!error">
    <div class="row" style="margin-bottom:10px">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <tc-social-share slug="{{topic.slug}}" media="topic.mediaFiles" entries="topic.top_entries"
              title="{{topic.title}}" type="movies" topic="topic"></tc-social-share>
        </div>
    </div>

    <tc-topic-details props="topic.props" category="{{topic.category}}" title="{{topic.title}}"
      description="{{topic.description}}" media="topic.mediaFiles"></tc-topic-details>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 top-buffer">
        <div if-user class="input-group input-group-lg">
            <input id="twocentz-input" class="form-control" type="text" ng-model="tc.text" ng-keydown="keySubmit($event)" placeholder="write two words" id="twocentz-input" >
            <span class="input-group-btn">
              <button ng-click="postTwoCentz()" ng-disabled="tc.submited" class="btn btn-success" role="button">
                <span class="size-24 step"><i class="icon ion-android-send"></i></span>
              </button>
            </span>
        </div>
        <div if-user style="padding-top:10px">
          <span  style="font-size: 1.4em; width: 100%; display: none" class="label label-success">entry sent!</span>
          <span  style="font-size: 1.4em; width: 100%; display: none" class="label label-danger">entry rejected!</span>
        </div>
        <div class="panel panel-default" ng-if="words.length > 0">
          <div class="panel-heading"><h4>Popular TwoCentz</h4></div>
          <div class="panel-body">
            <ul if-user class="list-group">
              <li class="list-group-item"  ng-class="[{'list-group-item-success' : isVoted(entry.text)}]" ng-repeat="entry in topic.top_entries | limitTo:list.limit">
                  <span style="padding:0px 10px">  {{entry.text}}</span>
                  <a href="#" ng-click="upVote(entry.text)" class="pull-right" ng-hide="isVoted(entry.text)">
                    <span class="size-24 step pull-right"><i class="icon ion-android-arrow-dropup-circle"></i></span>
                  </a>
                  <span class="badge pull-left">{{getVotesinPercent(entry.votes)}}</span>
              </li>
            </ul>
            <ul if-not-user class="list-group">
              <li class="list-group-item"  ng-repeat="entry in topic.top_entries | limitTo:list.limit">
                  <span style="padding:0px 10px">  {{entry.text}}</span>
                  <span class="badge pull-left">{{getVotesinPercent(entry.votes)}}</span>
              </li>
            </ul>
            <a ng-click="toggleEntries()" ng-if="topic.top_entries.length > list.default" class="btn btn-primary btn-block" role="button">{{list.text}}</a>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 top-buffer">
        <div class="panel panel-default" ng-if="words.length > 0">
          <div class="panel-body">
            <jqcloud words="words" id="cloud-dynamic" auto-resize="true" width="300" height="350" delay="10" steps="7" colors="{{colors}}" shape="rectangular" font-size="{from:0.12, to:0.04}" ></jqcloud>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
