<div>
    <!--loop through each element in model array-->
    <div class="{{hideRepeat}}">
        <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
            <div class="well well-sm">
                <formly-form fields="fields"
                             model="element"
                             form="form">
                </formly-form>
                <div style="margin-bottom:20px;">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
                        <i class="fa fa-trash-o fa-lg"></i>  Remove
                    </button>
                </div>
            </div>
        </div>
        <p class="AddNewButton">
            <button type="button" class="btn btn-primary btn-sm" ng-click="addNew()"><i class="fa fa-plus-circle"></i> {{to.btnText}}</button>
        </p>
    </div>
</div>