<div class="navbar navbar-default navbar-fixed-top ng-cloak row" role="navigation" style="margin-right:10px" ng-if="search">
  <div class="navbar-header hidden-xs col-sm-3 col-md-3">
    <a ui-sref="home">
      <img class="brand-img" src="tc-logo-lg.png" alt="TwoCentz">
    </a>
  </div>
  <div class="navbar-header visible-xs-block col-xs-2">

      <a ui-sref="home" class="pull-left">
        <img class="brand-img" src="tc-logo-small.png" alt="TwoCentz">
      </a>

  </div>

  <div class="custom-search-input col-xs-9 col-sm-6 col-md-6">
       <div class="input-group">
         <span class="input-group-addon size-18"><i class="icon ion-ios-search-strong"></i></span>
         <input type="text" class="form-control" ng-model="query" ng-change="search(query)" placeholder="Search..." />
       </div>
  </div>
  <div class="navbar-header center-elements col-xs-12 col-sm-12 col-md-12">
    <a href="https://itunes.apple.com/us/app/twocentz/id1143244299?ls=1&mt=8" class="btn btn-block" role="button">Download App on iTunes App Store</a>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-top ng-cloak row" role="navigation" style="margin-right:10px" ng-if="!search">
  <div class="navbar-header center-elements col-xs-12 col-sm-12 col-md-12">
    <a ui-sref="home">
      <img class="brand-img" src="tc-logo-lg.png" alt="TwoCentz">
    </a>
  </div>
  <div class="navbar-header center-elements col-xs-12 col-sm-12 col-md-12">
    <a href="https://itunes.apple.com/us/app/twocentz/id1143244299?ls=1&mt=8" class="btn btn-block" role="button">Download App on iTunes App Store</a>
  </div>  
</div>


<!-- <nav mfb-menu position="br" effect="zoomin" label="Close"
     active-icon="ion-close-round" resting-icon="ion-navicon-round"
     toggling-method="click"  menu-state="floatingButtonState" ng-if="!search">

     <button if-user mfb-button mfb-button-close icon="ion-edit" label="write twocentz"
      event-focus="click" event-focus-id="twocentz-input" ng-if="editable"></button>
     <a mfb-button label="{{button.label}}" icon="{{button.icon}}" ui-sref={{button.sref}} ng-repeat="button in buttons"></a>
     
</nav> -->
<!-- 
<nav mfb-menu position="br" effect="zoomin" label="Close"
     active-icon="ion-close-round" resting-icon="ion-navicon-round"
     toggling-method="click"  class="visible-xs-block" menu-state="floatingButtonState" ng-if="search">

     <button if-user mfb-button mfb-button-close icon="ion-edit" label="write twocentz"
      event-focus="click" event-focus-id="twocentz-input" ng-if="editable"></button>
     <a mfb-button label="{{button.label}}" icon="{{button.icon}}" ui-sref={{button.sref}} ng-repeat="button in buttons"></a>
     

</nav> -->
