<div class="text-center widget">
    <a href="" ng-click="gotoTopic(slug)">
        <span ng-if="category === 'USERS'" class="label label-info">{{userName}}</span>
        <span ng-if="category !== 'USERS'" class="label label-warning">{{category}}</span>
        <h4 ng-bind-html="title"></h4>
        <div ng-if="image_id" class="img-card">
            <cl-image public-id="{{image_id}}">
              <cl-transformation  width="240" height="300" crop="fit"/>
            </cl-image>
        </div>
        <div class="row" ng-if="topic.totalVotes > 0" style="margin-top: 10px">
          <div class="col-xs-6 col-md-6">{{topic.topEntries[0].text}}</div>
          <div class="col-xs-6 col-md-6">
            <div class="progress" style="margin-bottom: 5px;">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{twocentz[0]}};">{{twocentz[0]}}
              </div>
            </div>
          </div>
        </div>
    </a>
</div>
