<div class="col-xs-12 col-sm-6 col-md-4" ng-if="category === 'MOVIES'">
  <img class="center-align" ng-src="{{media[0].url}}" alt="{{title}}">
</div>
<div class="col-xs-12 col-sm-12 col-md-12 top-buffer">
  <div>
    <h2>{{title}}</h2>
    <button id="collapse-button" type="button" class="btn more-link collapsed visible-xs-block" data-toggle="collapse" data-target="#more-details">
    </button>
  </div>

  <div id="more-details" class="collapse">
    <p>{{description}}</p>
    <table class="table table-condensed" ng-if="category === 'USERS'">
        <tr ng-repeat="field in textArea">
            <th> {{field.fieldName}} </th>
            <td> {{field.fieldValue}} </td>
        </tr>
    </table>
    <table class="table table-condensed" ng-if="category === 'MOVIES'">
      <tr>
          <th>Release Date</th><td>{{props.releaseDate}}</td>
      </tr>
      <tr>
          <th>Duration</th><td>{{props.duration}}</td>
      </tr>
      <tr>
          <th>Genre</th><td>{{props.genre}}</td>
      </tr>
      <tr>
          <th>Rating</th><td>{{props.rating}}</td>
      </tr>
      <tr>
          <th>Director</th><td>{{props.director}}</td>
      </tr>
      <tr>
          <th>Cast</th>
          <td>
              <ul class="list-inline">
                  <li ng-repeat="cast in props.cast | limitTo:5">
                      <span>{{cast.name}}</span>
                  </li>
              </ul>
          </td>
      </tr>
    </table>
  </div>
  <div class="hidden-xs visible-sm-block visible-md-block visible-lg-block">
    <p>{{description}}</p>
    <table class="table table-condensed" ng-if="category === 'USERS'">
        <tr ng-repeat="field in textArea">
            <th> {{field.fieldName}} </th>
            <td> {{field.fieldValue}} </td>
        </tr>
    </table>
    <table class="table table-condensed" ng-if="category === 'MOVIES'">
      <tr>
          <th>Release Date</th><td>{{props.releaseDate}}</td>
      </tr>
      <tr>
          <th>Duration</th><td>{{props.duration}}</td>
      </tr>
      <tr>
          <th>Genre</th><td>{{props.genre}}</td>
      </tr>
      <tr>
          <th>Rating</th><td>{{props.rating}}</td>
      </tr>
      <tr>
          <th>Director</th><td>{{props.director}}</td>
      </tr>
      <tr>
          <th>Cast</th>
          <td>
              <ul class="list-inline">
                  <li ng-repeat="cast in props.cast | limitTo:5">
                      <span>{{cast.name}}</span>
                  </li>
              </ul>
          </td>
      </tr>
    </table>
  </div>
</div>
