<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 top-buffer">
    <div>
      <h2>{{title}}</h2>
      <button id="collapse-button" type="button" class="btn more-link collapsed visible-xs-block" data-toggle="collapse" data-target="#more-details" ng-if="description || fields">
      </button>
    </div>
    <div id="more-details" class="collapse">
      <p>{{description}}</p>
      <table class="table table-condensed" ng-if="fields">
          <tr ng-repeat="field in fields">
              <th> {{field.fieldName}} </th>
              <td> {{field.fieldValue}} </td>
          </tr>
      </table>
    </div>
    <div class="hidden-xs visible-sm-block visible-md-block visible-lg-block">
      <p>{{description}}</p>
      <table class="table table-condensed" ng-if="fields">
          <tr ng-repeat="field in fields">
              <th> {{field.fieldName}} </th>
              <td> {{field.fieldValue}} </td>
          </tr>
      </table>
    </div>
  </div>
</div>
