<div>
    <div class="thumbnail text-center widget">
        <a ui-sref="usertopic({slug: slug, username: userName})">
            <h4 ng-bind-html="title"></h4>
            <div ng-if="image">
                <cl-image public-id="{{image}}">
                  <cl-transformation  width="240" height="300" crop="fit"/>
                </cl-image>
            </div>
            <div class="img-card" ng-if="!image">
                <img data-src="holder.js/240x280" bs-holder />
            </div>
        </a>
        <div class="caption">
            <p class="text-info movie-info" ng-bind-html="entries"></p>
        </div>
    </div>
</div>
