<table class="table table-condensed" ng-if="category === 'USERS'">
    <tr ng-repeat="field in textField">
        <th ng-repeat="(key, value) in field"> {{key}} </th>
        <td ng-repeat="(key, value) in field"> {{value}} </td>
    </tr>
</table>
<table class="table table-condensed" ng-if="category === 'MOVIES'">
  <tr>
      <th>Release Date</th><td>{{props.releaseDate}}</td>
  </tr>
  <tr>
      <th>Duration</th><td>{{props.duration}}</td>
  </tr>
  <tr>
      <th>Genre</th><td>{{props.genre}}</td>
  </tr>
  <tr>
      <th>Rating</th><td>{{props.rating}}</td>
  </tr>
  <tr>
      <th>Director</th><td>{{props.director}}</td>
  </tr>
  <tr>
      <th>Cast</th>
      <td>
          <ul class="list-inline">
              <li ng-repeat="cast in props.cast | limitTo:5">
                  <span>{{cast.name}}</span>
              </li>
          </ul>
      </td>
  </tr>
</table>
