<div class="container">
  <div ng-if="error">
    <div class="alert alert-danger col-md-12" role="alert">{{errorMessage}}</div>
  </div>
  <div ng-if="!error">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <cl-image public-id="{{topic.mediaFiles[0].public_id}}" >
          <cl-transformation  width="300" crop="fit"/>
        </cl-image>
        <!-- <img class="media-object" ng-src="{{topic.mediaFiles[0].url}}" alt="{{topic.title}}"> -->
        <!-- <img data-src="holder.js/300x220" bs-holder /> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 top-buffer">
        <h2 class="media-heading">
          {{topic.title}}
        </h2>
        <p>{{topic.description}}</p>
        <tc-topic-details props="topic.props" category="topic.category" ></tc-topic-details>
        <ul class="list-inline" >
          <li ng-repeat="tag in topic.tags">
            <button type="button" class="btn btn-xs">{{tag}}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 top-buffer" >
        <div class="panel panel-default" ng-if="words.length > 0">
          <div class="panel-body">
            <ul if-user class="list-group">
              <li class="list-group-item" ng-class="[{'list-group-item-success' : isVoted(entry.text)}]" ng-repeat="entry in topic.topEntries | limitTo:list.limit">
                {{entry.text}}
                <button ng-hide="isVoted(entry.text)" type="button" ng-click="upVote(entry.text)" style="padding:2px" class="btn btn-info pull-right">
                  <span class="badge">{{entry.votes}}</span> vote
                  <i class="fa fa-thumbs-o-up"></i>
                </button>
                 <button ng-show="isVoted(entry.text)" type="button"  style="padding:2px" class="btn btn-success disabled pull-right">
                  <span class="badge">{{entry.votes}}</span> done
                  <i class="fa fa-check-circle"></i>
                </button>

              </li>
            </ul>
            <ul if-not-user class="list-group">
              <li class="list-group-item"  ng-repeat="entry in topic.topEntries | limitTo:list.limit">
                {{entry.text}}
                  <span class="badge">{{entry.votes}}</span>
              </li>
            </ul>
            <a ng-click="toggleEntries()" ng-if="topic.topEntries.length > list.default" class="btn btn-primary btn-block" role="button">{{list.text}}</a>
          </div>
        </div>
        <div if-user class="panel panel-default">
          <form class="form-inline" role="form">
            <input class="entries" type="text" ng-model="tc.text" ng-keydown="keySubmit($event)" placeholder="Add your two centz" id="twocentz-input" >
            <a ng-click="postTwoCentz()" ng-disabled="tc.submited" class="btn btn-primary pull-right" role="button">Submit</a>
          </form>
        </div>
        <div if-user>
          <span  style="font-size: 1.4em; width: 100%; display: none" class="label label-success">entry sent!</span>
          <span  style="font-size: 1.4em; width: 100%; display: none" class="label label-danger">entry rejected!</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 top-buffer">
        <div class="panel panel-default" ng-if="words.length > 0">
          <div class="panel-body">
            <jqcloud words="words" id="cloud-dynamic" auto-resize="true" width="320" height="350" delay="10" steps="7" colors="{{colors}}" shape="rectangular" font-size="{from:0.12, to:0.04}" ></jqcloud>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
